body{
    background-color: #415F72;
}

h1{
    font-size: 35px; 
    font-family:"Quattrocento", serif;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

h2{
    font-size: 30px;
    font-family:"Quattrocento", serif;
    text-align:center;
    margin-top: 50px;
    margin-bottom: 25px;
}
nav h2{
    margin-bottom: 50px;
}

img{
    display: flex;
    margin: auto;

}

nav a{
    color: black;
    font-family: "Quicksand", sans-serif;
    text-align: center;
    display: inline-block;
    font-size: 17px;
    margin: 40px;
    margin-top: 0px;
    border-radius: 100px;
    padding: 30px 30px;
    line-height: 60px;
    text-decoration: none;
}

nav a.active, nav a:hover{
    text-align: center;
    background-color: #DDEDF7;
    transition: .5s;
    border-radius: 30px;
}

p{
    font-family: "Quicksand", sans-serif;
    font-size: 17px;
    text-align: justify;
    margin-left: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
}


.carousel-inner img {
    max-width: 1150px;
    max-height: 1150px; 
    margin-right: 100px;
    margin-left: 100px;
}

ol{
    font-family: "Quicksand", sans-serif;
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 500px;
}

ul{
    font-family: "Quicksand", sans-serif;
    font-size: 17px; 
    margin-top: 45px;
    margin-bottom: 45px;
    margin-left: 325px;
}

.container{
    display: flex;
    justify-content: center;
}
.imag{
    display: block;
    width: 350px;
    height: 320px
    margin 0 10px;
}
.imag1{
    display: block;
    width: 350px;
    height: 350px;
}

form{
    text-align: center;
}

footer p{
    text-align: right;
    margin-right: 20px;
    font-size: 15px;
}
